*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    max-width: 1100px; 
}

#classroom{
    margin: 30px 0;
}

.blackboard{
    height: 500px;
    overflow-y: auto;
    color: black;
    background-color: #083b4c;
    border: 10px solid black;
    box-shadow: 5px 5px 5px solid #999;
    padding: 8px;
    line-height: 1;
    font-size: 1.2rem;
    word-break: break-all;
}

h1{
    color: white;
    text-align: center;
}


ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

ul li{
    width: 100px;
    height: 100px;
    border:  5px solid #083b4c;
    background-color: #1389b2;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul li.buzz {
    background-color: #ffd166;
}

ul li.fizz{
    background-color: #0bd6a1;
}

ul li.fizzbuzz{
    background-color: #f0466f;
}